#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

body{
  margin-top: 0 !important;
  margin-bottom: auto !important;
  place-items:unset;
}

.container{
/*   padding-bottom: 0px; */
  margin: 0%;
}

.bg{
  background-color: #F2F1E4;
}

.cart{
  background-color: red;
  color: white;
  margin: 0rem 1rem 0rem 1rem;
  border-radius: 1rem;
  position: relative;
  top: -0.1rem;
}
